{% extends 'base.html' %}

{% block title  %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">비트코인 추천 사이트</h1>
          <br>
          <p class="lead text-muted">
          현재 코인 시세는?
          <br>
            <form method="POST" action="/api/coin">
              <input type="submit" class="btn btn-primary" value="View" />
            </form>
          </p>
        </div>
      </div>
    </section>
{% endblock  %}
